{% extends "layout.twig" %}
{% block navi %}
    <div class="navi">
        <i class="fa-solid fa-bars menuToggle"></i>{{boardType.boardName}}
    </div>
    {% include 'logo.twig' %}
{% endblock %}
{% block content %}
    <div class="sort_box" >
        <form name="searchForm" id="searchForm" action="{{request.uri.path}}" method="get">
            <div class="sort">
                <ul>
                    <li>등록일</li>
                    <li>
                        <input name="startDate" type="date" value="{{request.queryparams['startDate']}}" /> ~
                        <input name="endDate" type="date" value="{{request.queryparams['endDate']}}" />
                    </li>
                    {% include 'defalut_date_term.twig' %}
                </ul>
                <ul>
                    <li>검색어</li>
                    <li>
                        <input type="text" name="keyword" placeholder="검색어를 입력해주세요" value="{{ request.queryparams['keyword'] }}">
                    </li>
                </ul>
            </div>
            <div class="toggle">접기</div>
            <div class="sort_btn">검색하기</div>
        </form>
    </div>
    <div class="cbox mgt15">
        <div class="board_list">
            <div class="top">
                <div class="tit">목록<span>{{ lists.total | number_format }}개</span></div>
                <div class="rbox">
                    <div class="btn_box">
                        <ul class="default moveUrl" data-url="/board/{{ boardType.value }}/register" style="margin-right: 5px;">신규등록</ul>
                    </div>
                    {% include 'defalut_page_size.twig' %}
                </div>
            </div>
            <div class="table_mo">
                <table class="table_list_01 w1500">
                    <tr class="header">
                        <td>NO</td>
                        <td>상태</td>
                        <td>등록자</td>
                        <td>제목</td>
                        <td>등록일</td>
                        <td>수정일</td>
                        <td>관리</td>
                    </tr>
                    <!--- 목록없음 --->
                    {% set listPageName = '' %}
                    {% include 'list_none.twig' %}
                    <!--- 목록없음 --->
                    {% for list in lists.items %}
                        <tr>
                            <td>{{ list_no(lists.total,lists.page,lists.limit,loop.index0) }}</td>
                            <td>{{ list.status.toString }}</td>
                            <td>{{ list.adminMember.name }}</td>
                            <td>{{ list.subject }}</td>
                            <td>{{ list.createdAt | date('Y-m-d H:i:s') }}</td>
                            <td>{{ list.updatedAt | date('Y-m-d H:i:s') }}</td>
                            <td>
                                <div class="btn moveUrl" data-url="/board/{{boardType.value}}/register/{{ list.id }}">관리</div>
                                <div class="btn ajaxDelete" data-ajax-url="/action/board/delete/{{ list.id }}" data-content="게시글">삭제</div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <!--- 페이징 --->
            {% include 'paginator.twig' %}
            <!--- 페이징 --->
        </div>
    </div>
{% endblock %}