{% extends "layout.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/naver_se2/js/HuskyEZCreator.js" charset="utf-8"></script>
    {{ encore_entry_script_tags('board')}}
{% endblock %}
{% set isData = data.id > 0 %}
{% set pageName =  isData ? '수정' : '등록' %}
{% block navi %}
    <div class="navi">
        <i class="fa-solid fa-bars menuToggle"></i>{{boardType.boardName}} {{pageName}}
    </div>
    {% include 'logo.twig' %}
{% endblock %}
{% block content %}
    <div class="cbox mgt15">
        <div class="board_form">
            <form name="regFrm" id="regFrm" method="post" autocomplete="off">
                <div class="form_tit">{{boardType.boardName}} 상세</div>
                <div class="form">
                    <ul>
                        <li class="_required">상태</li>
                        <li>
                            {% for status in statuses %}
                                {% if isData %}
                                    <input name="status" type="radio" style="margin-right: 7px;" value="{{ status.value }}"
                                            {{ data.status == status ? 'checked' : '' }}>
                                    {{ status.toString }}
                                {% else %}
                                    {% if status.value != '999' %}
                                        <input name="status" type="radio" style="margin-right: 7px;" value="{{ status.value }}">
                                        {{ status.toString }}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </li>
                    </ul>
                    <ul>
                        <li class="_required">등록자</li>
                        <li><input type="text" value="{{auth.name}}" disabled></li>
                    </ul>
                    <ul>
                        <li class="_required">제목</li>
                        <li><input name="subject" type="text" style="width: 100%;" placeholder="제목을 입력해주세요" value="{{ data.subject }}"></li>
                    </ul>
                    {% if boardType.value == 'notice' %}
                        <ul>
                            <li class="_required">내용</li>
                            <li>
                                <textarea name="editorTxt" id="editorTxt" rows="10" cols="100" style="width:calc(100% - 22px);">{{ data.content | raw }}</textarea>
                            </li>
                        </ul>
                    {% endif %}
                </div>
                <div class="btn_box">
                    {% set registerUrl = '/action/board/'~  boardType.value  ~'/register' %}
                    {% set updateUrl = '/action/board/update/' %}
                    <div class="confirm {{ isData ? 'update' : 'register' }}" data-code="{{ boardType.value }}" data-id="{{ data.id }}" data-ajax-url="{{ isData ? updateUrl : registerUrl }}">{{ pageName }}하기</div>
                    <div class="cancel historyBack">취소</div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

