<!doctype html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="{{ asset('dist/favicon.svg') }}" />

  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
          integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.6/vendors/scrolloverflow.min.js"></script>

  <!-- swiperjs -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />


  <!-- aos -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('fullpage') }}
  {% endblock %}
  {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('fullpage') }}
  {% endblock %}


  <title>운정역더써밋</title>
</head>

<body>
  <!-- popup -->
  <!-- <div class='popup' id="popup">
    <img src='/images/popup-desktop.png' alt='' class='desktop' />
    <img src='/images/popup-mobile.png' alt='' class='mobile' />
    <div class='popup-ui'>
      <div class='left'>
        <input type='checkbox' id="closeToday" />
        <label for=''>오늘 하루 열지 않기</label>
      </div>
      <div class='right'>
        <button id='closePopupBtn'>팝업 닫기 <img src='/images/ic_close_black.svg' alt='' /></button>
      </div>
    </div>
  </div> -->
  <!-- popup -->

  <!-- header -->
  <header class="transparent">
    <div class='inner'>
      <div class='logo-container'>
        <div class='logo-white'><a href='/views/index.html'><img src='{{ asset('dist/images/logo-white.svg') }}' alt='로고/화이트' /></a></div>
        <div class='logo-color'><a href='/views/index.html'><img src='{{ asset('dist/images/logo.svg') }}' alt='로고' /></a></div>
      </div>
      <ul class='gnb-menu'>
        <li class='gnb-menu-item'>
          <a href='/views/menu1/business.html' aria-label='운정역더써밋'>운정역더써밋</a>
          <ul class='sub-menu'>
            <li class='sub-menu-item'>
              <a href='/views/menu1/business.html' aria-label='사업개요'>사업개요</a>
            </li>
            <li class='sub-menu-item'>
              <a href='/views/menu1/architechture.html' aria-label='조감도/투시도'>조감도/투시도</a>
            </li>
            <li class='sub-menu-item'>
              <a href='/views/menu1/location.html' aria-label='오시는길'>오시는길</a>
            </li>
          </ul>
        </li>
        <li class='gnb-menu-item'>
          <a href='/views/menu2/intro.html' aria-label='프리미엄'>프리미엄</a>
          <ul class='sub-menu'>
            <li class='sub-menu-item'><a href='/views/menu2/intro.html' aria-label='입지소개'>입지소개</a></li>
            <li class='sub-menu-item'><a href='/views/menu2/premium10.html' aria-label='프리미엄10'>프리미엄10</a></li>
          </ul>
        </li>
        <li class='gnb-menu-item'>
          <a href='/views/menu3/complex.html' aria-label='단지안내'>단지안내</a>
          <ul class='sub-menu'>
            <li class='sub-menu-item'><a href='/views/menu3/complex.html' aria-label='단지배치도'>단지배치도</a></li>
            <li class='sub-menu-item'><a href='/views/menu3/units.html' aria-label='동호수배치도'>동호수배치표</a></li>
            <li class='sub-menu-item'><a href='/views/menu3/community.html' aria-label='커뮤니티'>커뮤니티</a></li>
            <li class='sub-menu-item'><a href='/views/menu3/garden.html' aria-label='조경+부분컷'>조경+부분컷</a></li>
            <li class='sub-menu-item'><a href='/views/menu3/system.html' aria-label='시스템'>시스템</a></li>
          </ul>
        </li>
        <li class='gnb-menu-item'>
          <a href='/views/menu4/floorplanA.html' aria-label='세대안내'>세대안내</a>
          <ul class='sub-menu'>
            <li class='sub-menu-item'><a href='/views/menu4/floorplanA.html' aria-label='평면안내'>평면안내</a></li>
            <li class='sub-menu-item'><a href='/views/menu4/interior.html' aria-label='인테리어'>인테리어</a></li>
          </ul>
        </li>
        <li class='gnb-menu-item'>
          <a href='/views/menu5/news.html' aria-label='홍보센터'>홍보센터</a>
          <ul class='sub-menu'>
            <li class='sub-menu-item'><a href='/views/menu5/news.html' aria-label='언론보도'>언론보도</a></li>
            <li class='sub-menu-item'><a href='/views/menu5/videos.html' aria-label='홍보동영상'>홍보동영상</a></li>
            <li class='sub-menu-item'><a href='/views/menu5/vr.html' aria-label='사이버 모델하우스'>사이버 <br /> 모델하우스(VR)</a></li>
          </ul>
        </li>
        <li class='gnb-menu-item'>
          <a href='/views/menu6/notice.html' aria-label='고객센터'>고객센터</a>
          <ul class='sub-menu'>
            <li class='sub-menu-item'><a href='/views/menu6/notice.html' aria-label='공지사항'>공지사항</a></li>
            <li class='sub-menu-item'><a href='/views/menu6/reg.html' aria-label='관심고객등록'>관심고객등록</a></li>
          </ul>
        </li>
      </ul>
      <div class='utils'>
        <a href='/views/menu7/login.html' class='member-link' aria-label='조합원전용'><img src='{{ asset('dist/images/bi_person-fill.svg') }}' alt='사람아이콘' />
          조합원전용</a>
        <a href='tel:1533-7720' class='tel-link'>
          <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'
            class='ic-phone'>
            <path
              d='M19.23 15.26L16.69 14.97C16.3914 14.9349 16.0886 14.968 15.8046 15.0667C15.5206 15.1654 15.2626 15.3273 15.05 15.54L13.21 17.38C10.3714 15.9359 8.0641 13.6286 6.62004 10.79L8.47004 8.94001C8.90004 8.51001 9.11004 7.91001 9.04004 7.30001L8.75004 4.78001C8.69356 4.2921 8.45951 3.84204 8.0925 3.51561C7.7255 3.18918 7.25121 3.00921 6.76004 3.01001H5.03004C3.90004 3.01001 2.96004 3.95001 3.03004 5.08001C3.56004 13.62 10.39 20.44 18.92 20.97C20.05 21.04 20.99 20.1 20.99 18.97V17.24C21 16.23 20.24 15.38 19.23 15.26Z'>
            </path>
          </svg>
          1533-7720
        </a>
      </div>
      <button class='hamburger-btn' id='hamburgerBtn'><img src='{{ asset('dist/images/hamburger-menu-icon.svg') }}' alt='모바일 메뉴' /></button>
    </div>
  </header>
  <!-- header -->

  <!-- mobilemenu -->
  <div class='mobile-menu-container'>
    <div class='mobile-menu-bg'></div>
    <div class='mobile-menu'>
      <div class='mobile-menu-header'>
        <button id='mobile-menu-close-btn'><img src='{{ asset('dist/images/ic_close.svg') }}' alt='모바일 닫기' /></button>
      </div>
      <div class='menu-list-container'>
        <ul class='menu-list'>
          <li class='menu'>
            <div class='menu-inner'>
              운정역더써밋 <button><img src='{{ asset('dist/images/ic_carat.svg') }}' alt='모바일 서브 메뉴 열기' /></button>
            </div>
            <div class='submenu-container'>
              <ul class='submenu'>
                <li class='submenu-item'><a href='/views/menu1/business.html'>사업개요</a></li>
                <li class='submenu-item'><a href='/views/menu1/architechture.html'>조감도/투시도</a></li>
                <li class='submenu-item'><a href='/views/menu1/location.html'>오시는길</a></li>
              </ul>
            </div>
          </li>
          <li class='menu'>
            <div class='menu-inner'>
              프리미엄 <button><img src='{{ asset('dist/images/ic_carat.svg') }}' alt='모바일 서브 메뉴 열기' /></button>
            </div>
            <div class='submenu-container'>
              <ul class='submenu'>
                <li class='submenu-item'><a href='/views/menu2/intro.html'>입지소개</a></li>
                <li class='submenu-item'><a href='/views/menu2/premium10.html'>프리미엄10</a></li>
              </ul>
            </div>
          </li>
          <li class='menu'>
            <div class='menu-inner'>
              단지안내 <button><img src='{{ asset('dist/images/ic_carat.svg') }}' alt='모바일 서브 메뉴 열기' /></button>
            </div>
            <div class='submenu-container'>
              <ul class='submenu'>
                <li class='submenu-item'><a href='/views/menu3/complex.html'>단지배치도</a></li>
                <li class='submenu-item'><a href='/views/menu3/units.html'>동호수배치표</a></li>
                <li class='submenu-item'><a href='/views/menu3/community.html'>커뮤니티</a></li>
                <li class='submenu-item'><a href='/views/menu3/garden.html'>조경+부분컷</a></li>
                <li class='submenu-item'><a href='/views/menu3/system.html'>시스템</a></li>
              </ul>
            </div>
          </li>
          <li class='menu'>
            <div class='menu-inner'>
              세대안내 <button><img src='{{ asset('dist/images/ic_carat.svg') }}' alt='모바일 서브 메뉴 열기' /></button>
            </div>
            <div class='submenu-container'>
              <ul class='submenu'>
                <li class='submenu-item'><a href='/views/menu4/floorplanA.html'>평면안내</a></li>
                <li class='submenu-item'><a href='/views/menu4/interior.html'>인테리어</a></li>
              </ul>
            </div>
          </li>
          <li class='menu'>
            <div class='menu-inner'>
              홍보센터 <button><img src='{{ asset('dist/images/ic_carat.svg') }}' alt='모바일 서브 메뉴 열기' /></button>
            </div>
            <div class='submenu-container'>
              <ul class='submenu'>
                <li class='submenu-item'><a href='/views/menu5/news.html'>언론보도</a></li>
                <li class='submenu-item'><a href='/views/menu5/videos.html'>홍보동영상</a></li>
                <li class='submenu-item'><a href='/views/menu5/vr.html'>사이버 모델하우스(VR)</a></li>
              </ul>
            </div>
          </li>
          <li class='menu'>
            <div class='menu-inner'>
              고객센터 <button><img src='{{ asset('dist/images/ic_carat.svg') }}' alt='모바일 서브 메뉴 열기' /></button>
            </div>
            <div class='submenu-container'>
              <ul class='submenu'>
                <li class='submenu-item'><a href='/views/menu6/notice.html'>공지사항</a></li>
                <li class='submenu-item'><a href='/views/menu6/reg.html'>관심고객등록</a></li>
              </ul>
            </div>
          </li>
        </ul>
        <a href='/views/menu7/login.html' class='member-link'><img src='{{ asset('dist/images/bi_person-fill.svg') }}' alt='사람아이콘' /> 조합원전용</a>
      </div>
    </div>
  </div>
  <!-- mobilemenu -->

  <!-- quickmenu -->
  <div class="quickmenus-container">
    <a href="/views/menu6/reg.html" class="quickmenu-accent">
      <img src="{{ asset('dist/images/logo_symbol.svg') }}" alt="">
      관심고객 등록
    </a>
    <a href="/views/menu4/floorplanA.html" class="quickmenu"><img src="{{ asset('dist/images/ic_grid.svg') }}" alt=""> 타입안내</a>
    <a href="/views/menu5/videos.html" class="quickmenu"><img src="{{ asset('dist/images/ic_play.svg') }}" alt="">홍보영상</a>
    <a href="/views/menu1/location.html" class="quickmenu"><img src="{{ asset('dist/images/ic_pin.svg') }}" alt="">오시는길</a>
  </div>
  
  <div class="quickmenu-container-mobile">
    <a href="/views/menu6/reg.html" class="reg">관심고객 등록</a>
    <a href="/views/menu1/location.html" class="map">오시는길</a>
    <a href="tel:1533-7720" class="phone">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M19.23 15.26L16.69 14.97C16.3914 14.9349 16.0886 14.968 15.8046 15.0667C15.5206 15.1654 15.2626 15.3273 15.05 15.54L13.21 17.38C10.3714 15.9359 8.0641 13.6286 6.62004 10.79L8.47004 8.94001C8.90004 8.51001 9.11004 7.91001 9.04004 7.30001L8.75004 4.78001C8.69356 4.2921 8.45951 3.84204 8.0925 3.51561C7.7255 3.18918 7.25121 3.00921 6.76004 3.01001H5.03004C3.90004 3.01001 2.96004 3.95001 3.03004 5.08001C3.56004 13.62 10.39 20.44 18.92 20.97C20.05 21.04 20.99 20.1 20.99 18.97V17.24C21 16.23 20.24 15.38 19.23 15.26Z" />
      </svg>
    </a>
  </div>
  <!-- quickmenu -->



  <div id='fullpage'>
    <div class='section'>
      <div class='inner-section section1'>
        <div class='section1-desc ani-01' id='section1Desc'>
          <h1>압도적앞세권</h1>
          <div class='section1-subtitle'>
            <p>내가 바라는 모든 것이 바로 집 앞에!</p>
            <p>
              앞으로 더 행복할 수 있도록 <span class='bold'>운정역더써밋</span>이 옵니다
            </p>
          </div>
          <div class='section1-subtitle-en'>
            <p>UNJEONGYEOK THE SUMMIT</p>
          </div>
        </div>
        <div class='swiper swiper-bg'>
          <!-- Additional required wrapper -->
          <div class='swiper-wrapper'>
            <!-- Slides -->
            <div class='swiper-slide slide1'></div>
            <div class='swiper-slide slide2'></div>
            <!-- <div class="swiper-slide slide3"></div> -->
            ...
          </div>
          <!-- If we need pagination -->
          <div class='swiper-pagination'></div>

          <!-- If we need navigation buttons -->
          <!-- <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div> -->
        </div>
      </div>
    </div>

    <div class='section'>
      <div class='inner-section section2'>
        <div class='section2-subtitle ani-02'>
          <p class='en'>BEST PREMIUM</p>
          <p>전철도 학교도 공원도 쇼핑도</p>
        </div>
        <h2 class='ani-02'>앞<span>!</span> 앞<span>!</span> 앞<span>!</span></h2>

        <ul class='section2-intro ani-03'>
          <li class='col photo1'>
            <div class='col-icon'>
              <img src='{{ asset('dist/images/ic_train.svg') }}' alt='' />
            </div>
            <h4 class='col-title'>집 앞에 스피드 교통</h4>
            <p class='col-para'>
              운정역 약 100m 도보거리 초역세권 <br />
              서울문산고속도로 통해 서울 20분대 <br />
              광역M버스로 서울역, 강남역 이동 용이
            </p>
          </li>
          <li class='col photo2'>
            <div class='col-icon'>
              <img src='{{ asset('dist/images/ic_park.svg') }}' alt='' />
            </div>
            <h4 class='col-title'>코 앞에 쾌적한 자연</h4>
            <p class='col-para'>
              운정호수공원 인접 및 조망 가능(일부세대) <br />
              운정체육공원, 파크골프장 이용 편리 <br />
              단지 앞 공원 조성으로 쾌적한 환경
            </p>
          </li>
          <li class='col photo3'>
            <div class='col-icon'>
              <img src='{{ asset('dist/images/ic_school.svg') }}' alt='' />
            </div>
            <h4 class='col-title'>문 앞에 편리한 생활</h4>
            <p class='col-para'>
              초품아, 유품아로 안심통학 교육환경 <br />
              스타필드 빌리지 도보거리 이용 가능 <br />
              운정신도시 생활인프라 이용 편리
            </p>
          </li>
          <li class='col photo4'>
            <div class='col-icon'>
              <img src='{{ asset('dist/images/ic_highway.svg') }}' alt='' />
            </div>
            <h4 class='col-title'>눈 앞에 눈부신 비전</h4>
            <p class='col-para'>
              GTX-A, 제2순환고속도로 개통 예정 <br />
              파주메디컬클러스터, 운정테크노밸리 조성 예정 <br />
              일산3호선 대화역~금릉역 연장 추진
            </p>
          </li>
        </ul>
        <ul class='section2-intro-mobile'>
          <li class='col photo1'>
            <div class='img-container'>
              <div class='col-icon'>
                <img src='{{ asset('dist/images/ic_train.svg') }}' alt='' />
              </div>
              <h4 class='col-title'>집 앞에 스피드 교통</h4>
            </div>
            <p class='col-para'>
              운정역 약 100m 도보거리 초역세권 <br />
              서울문산고속도로 통해 서울 20분대 <br />
              광역M버스로 서울역, 강남역 이동 용이
            </p>
          </li>
          <li class='col photo2'>
            <div class='img-container'>
              <div class='col-icon'>
                <img src='{{ asset('dist/images/ic_park.svg') }}' alt='' />
              </div>
              <h4 class='col-title'>코 앞에 쾌적한 자연</h4>
            </div>
            <p class='col-para'>
              운정호수공원 인접 및 조망 가능(일부세대) <br />
              운정체육공원, 파크골프장 이용 편리 <br />
              단지 앞 공원 조성으로 쾌적한 환경
            </p>
          </li>
          <li class='col photo3'>
            <div class='img-container'>
              <div class='col-icon'>
                <img src='{{ asset('dist/images/ic_school.svg') }}' alt='' />
              </div>
              <h4 class='col-title'>문 앞에 편리한 생활</h4>
            </div>
            <p class='col-para'>
              초품아, 유품아로 안심통학 교육환경 <br />
              스타필드 빌리지 도보거리 이용 가능 <br />
              운정신도시 생활인프라 이용 편리
            </p>
          </li>
          <li class='col photo4'>
            <div class='img-container'>
              <div class='col-icon'>
                <img src='{{ asset('dist/images/ic_highway.svg') }}' alt='' />
              </div>
              <h4 class='col-title'>눈 앞에 눈부신 비전</h4>
            </div>
            <p class='col-para'>
              GTX-A, 제2순환고속도로 개통 예정 <br />
              파주메디컬클러스터, 운정테크노밸리 조성 예정 <br />
              일산3호선 대화역~금릉역 연장 추진
            </p>
          </li>
        </ul>
      </div>
    </div>

    <div class='section'>
      <div class='inner-section section3'>
        <div class='section3-col'>
          <div class='col ani-02'>
            <h3><span class='light'>모든 가치</span> 모두 <span class='green'>집앞</span></h3>
            <div class='section3-desc'>
              <p>학교도 공원도 <span class='green'>집앞에 있어 안심</span>입니다</p>
              <p>전철역도 쇼핑몰도 <span class='green'>집곁에 있어 편리</span>합니다</p>
            </div>
            <div class='section3-desc'>
              <div class='division-line'></div>
            </div>
            <div class='section3-desc'>
              <div class='size'>총 1,255세대 (84m<sup>2</sup>)</div>
            </div>
            <div class='section3-desc'>
              <div class='division-line'></div>
            </div>
            <div class='section3-desc'>
              <a href='tel:1533-7720' class='tel-link'><img src='{{ asset('dist/images/ic_round-phone.svg') }}' alt='' /> 1533-7720</a>
            </div>
          </div>
          <div class='col ani-03'>
            <img src='{{ asset('dist/images/map-img.svg') }}' alt='' class='map' />
            <img src='{{ asset('dist/images/mobile-map.svg') }}' alt='' class='mobile-map' />
            <div class='map-col'>
              <div class='naver-map-link model-house'>
                <div class='desc'>
                  <div class='map-title'>운정역더써밋 주택홍보관</div>
                  <div class='map-address'>파주시 와동동 1520번지</div>
                </div>
                <a href='https://naver.me/FK5G0z0J' class='naver' target='_blank'>
                  <img src='{{ asset('dist/images/ic_naver.png') }}' alt='' class='ic-naver' />
                  네이버 지도보기
                </a>
              </div>

              <div class='naver-map-link apartment'>
                <div class='desc'>
                  <div class='map-title'>운정역더써밋 현장</div>
                  <div class='map-address'>파주시 야당동 38-3번지 일원</div>
                </div>
                <a href='https://naver.me/xTTysdAI' class='naver' target='_blank'>
                  <img src='{{ asset('dist/images/ic_naver.png') }}' alt='' class='ic-naver' />
                  네이버 지도보기
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='section fp-auto-height'>
      <footer>
        <div class="footer-info">
          <p class="footer-name">시행 (가칭)운정역지역주택조합 추진위원회</p>
          <ul class="footer-list">
            <li>온라인대행 : ㈜ 티디아이</li>
            <li>서울특별시 서초구 반포대로20길 29(서초동, TDI타워)</li>
            <li>사업자등록번호 : 615-85-36966</li>
          </ul>
          <div class="footer-cp">
            <p>Copyright ⓒ 운정역더써밋. All Rights Reserved.</p>
            <ul class="footer-cp-list">
              <li>본 제작물에 사용된 CG, 이미지 등은 소비자의 이해를 돕기 위한 것으로 변경될 수 있으며, 실제와 다를 수 있습니다. </li>
              <li>본 제작물에 표기된 계획은 관계기관 및 사업주체 사정에 따라 일부 변경, 지연, 취소될 수 있습니다.</li>
            </ul>
          </div>
        </div>
        <div class="footer-logo">
          <img src="{{ asset('dist/images/footer_logo.svg') }}" alt="">
        </div>
      </footer>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      let currentSlide = 1;
  
      // AOS.init();
      // 헤더
      $('.gnb-menu').mouseenter(function () {
        console.log(`currentSlide: ${currentSlide}`);
        $('header').addClass('active');
        if (currentSlide === 1) {
          $('header').removeClass('transparent');
        }
      });
      $('.gnb-menu').mouseleave(function () {
        console.log('mouseleave');
        $('header').removeClass('active');
        if (currentSlide === 1) {
          $('header').addClass('transparent');
        }
      });
  
      $('#fullpage').fullpage({
        autoScrolling: true,
        scrollBar: false,
        scrollOverflow: true,
        responsiveWidth: 1200,
        easing: 'easeInOutCubic',
        // easingcss3: 'ease',
        scrollingSpeed: 800,
  
        afterRender: function () {
          $.fn.fullpage.setAllowScrolling(false, 'down');
        },
        onLeave: function (origin, destination, direction, trigger) {
          // console.log('onLeave - origin:' + origin + ' destination:' + destination + ' direction:' + direction + '  trigger:' + trigger);
          if (destination === 1) {
            swiper.enable();
            $('header').addClass('transparent');
            currentSlide = 1;
          }
          if (destination === 2) {
            // console.log('destination 2');
            $('header').removeClass('transparent');
            currentSlide = 2;
          }
          if (destination === 3) {
            // console.log('destination 3');
            $('header').removeClass('transparent');
            currentSlide = 3;
          }
        },
      });
  
      // swiper
      const swiper = new Swiper('.swiper', {
        // Optional parameters
        loop: false,
        autoplay: {
          delay: 5000,
        },
        // If we need pagination
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
  
        // Navigation arrows
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
  
        // And if we need scrollbar
        scrollbar: {
          el: '.swiper-scrollbar',
        },
        mousewheel: {
          invert: false,
        },
        on: {
          reachEnd: function () {
            // Re-enable fullPage scrolling after the last Swiper slide
            setTimeout(() => {
              $.fn.fullpage.setAllowScrolling(true);
              // swiper.disable();
            }, 0); // Adjust the timeout as needed
          },
          slideChange: function () {
            if (swiper.activeIndex === 1) {
              $.fn.fullpage.setAllowScrolling(false);
              console.log('swiper.activeIndex === 1');
            }
          },
          activeIndexChange: function () {
            console.log('Active index changed to: ', this.activeIndex);
            if (this.activeIndex === 1) {
              $('#section1Desc').addClass('white');
            } else {
              $('#section1Desc').removeClass('white');
            }
          },
        },
      });
  
      // 닫기버튼 클릭 이벤트
      $('#closePopupBtn').click(function () {
        $('#popup').hide();
      });
    });
  </script>
</body>

</html>