{% extends "layout.twig" %}
{% block content %}
  <div class='popup' id="popup">
    <img src='{{ asset('dist/images/popup-desktop.png') }}' alt='' class='desktop' />
    <img src='{{ asset('dist/images/popup-mobile.png') }}' alt='' class='mobile' />
    <div class='popup-ui'>
      <div class='left'>
        <label class="check" for='check'>오늘 하루 열지 않기</label>
      </div>
      <div class='right'>
        <div id='closePopupBtn' class="popup-close-btn ">팝업 닫기 <img src='{{ asset('dist/images/ic_close_black.svg') }}' alt='' /></div>
      </div>
    </div>
  </div>
  <div id='fullpage'>
    <div class='section'>
      <div class='inner-section section1'>
        <div class='section1-desc ani-01' id='section1Desc'>
          <h1>압도적앞세권</h1>
          <div class='section1-subtitle'>
            <p>내가 바라는 모든 것이 바로 집 앞에!</p>
            <p>
              앞으로 더 행복할 수 있도록 <span class='bold'>운정역더써밋</span>이 옵니다
            </p>
          </div>
          <div class='section1-subtitle-en'>
            <p>UNJEONGYEOK THE SUMMIT</p>
          </div>
        </div>
        <div class='swiper swiper-bg'>
          <!-- Additional required wrapper -->
          <div class='swiper-wrapper'>
            <!-- Slides -->
            <div class='swiper-slide slide1'></div>
            <div class='swiper-slide slide2'></div>
            <!-- <div class="swiper-slide slide3"></div> -->
            ...
          </div>
          <!-- If we need pagination -->
          <div class='swiper-pagination'></div>

          <!-- If we need navigation buttons -->
          <!-- <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div> -->
        </div>
      </div>
    </div>

    <div class='section'>
      <div class='inner-section section2'>
        <div class='section2-subtitle ani-02'>
          <p class='en'>BEST PREMIUM</p>
          <p>전철도 학교도 공원도 쇼핑도</p>
        </div>
        <h2 class='ani-02'>앞<span>!</span> 앞<span>!</span> 앞<span>!</span></h2>

        <ul class='section2-intro ani-03'>
          <li class='col photo1'>
            <div class='col-icon'>
              <img src='{{ asset('dist/images/ic_train.svg') }}' alt='' />
            </div>
            <h4 class='col-title'>집 앞에 스피드 교통</h4>
            <p class='col-para'>
              운정역 약 100m 도보거리 초역세권 <br />
              서울문산고속도로 통해 서울 20분대 <br />
              광역M버스로 서울역, 강남역 이동 용이
            </p>
          </li>
          <li class='col photo2'>
            <div class='col-icon'>
              <img src='{{ asset('dist/images/ic_park.svg') }}' alt='' />
            </div>
            <h4 class='col-title'>코 앞에 쾌적한 자연</h4>
            <p class='col-para'>
              운정호수공원 인접 및 조망 가능(일부세대) <br />
              운정체육공원, 파크골프장 이용 편리 <br />
              단지 앞 공원 조성으로 쾌적한 환경
            </p>
          </li>
          <li class='col photo3'>
            <div class='col-icon'>
              <img src='{{ asset('dist/images/ic_school.svg') }}' alt='' />
            </div>
            <h4 class='col-title'>문 앞에 편리한 생활</h4>
            <p class='col-para'>
              초품아, 유품아로 안심통학 교육환경 <br />
              스타필드 빌리지 도보거리 이용 가능 <br />
              운정신도시 생활인프라 이용 편리
            </p>
          </li>
          <li class='col photo4'>
            <div class='col-icon'>
              <img src='{{ asset('dist/images/ic_highway.svg') }}' alt='' />
            </div>
            <h4 class='col-title'>눈 앞에 눈부신 비전</h4>
            <p class='col-para'>
              GTX-A, 제2순환고속도로 개통 예정 <br />
              파주메디컬클러스터, 운정테크노밸리 조성 예정 <br />
              일산3호선 대화역~금릉역 연장 추진
            </p>
          </li>
        </ul>
        <ul class='section2-intro-mobile'>
          <li class='col photo1'>
            <div class='img-container'>
              <div class='col-icon'>
                <img src='{{ asset('dist/images/ic_train.svg') }}' alt='' />
              </div>
              <h4 class='col-title'>집 앞에 스피드 교통</h4>
            </div>
            <p class='col-para'>
              운정역 약 100m 도보거리 초역세권 <br />
              서울문산고속도로 통해 서울 20분대 <br />
              광역M버스로 서울역, 강남역 이동 용이
            </p>
          </li>
          <li class='col photo2'>
            <div class='img-container'>
              <div class='col-icon'>
                <img src='{{ asset('dist/images/ic_park.svg') }}' alt='' />
              </div>
              <h4 class='col-title'>코 앞에 쾌적한 자연</h4>
            </div>
            <p class='col-para'>
              운정호수공원 인접 및 조망 가능(일부세대) <br />
              운정체육공원, 파크골프장 이용 편리 <br />
              단지 앞 공원 조성으로 쾌적한 환경
            </p>
          </li>
          <li class='col photo3'>
            <div class='img-container'>
              <div class='col-icon'>
                <img src='{{ asset('dist/images/ic_school.svg') }}' alt='' />
              </div>
              <h4 class='col-title'>문 앞에 편리한 생활</h4>
            </div>
            <p class='col-para'>
              초품아, 유품아로 안심통학 교육환경 <br />
              스타필드 빌리지 도보거리 이용 가능 <br />
              운정신도시 생활인프라 이용 편리
            </p>
          </li>
          <li class='col photo4'>
            <div class='img-container'>
              <div class='col-icon'>
                <img src='{{ asset('dist/images/ic_highway.svg') }}' alt='' />
              </div>
              <h4 class='col-title'>눈 앞에 눈부신 비전</h4>
            </div>
            <p class='col-para'>
              GTX-A, 제2순환고속도로 개통 예정 <br />
              파주메디컬클러스터, 운정테크노밸리 조성 예정 <br />
              일산3호선 대화역~금릉역 연장 추진
            </p>
          </li>
        </ul>
      </div>
    </div>

    <div class='section'>
      <div class='inner-section section3'>
        <div class='section3-col'>
          <div class='col ani-02'>
            <h3><span class='light'>모든 가치</span> 모두 <span class='green'>집앞</span></h3>
            <div class='section3-desc'>
              <p>학교도 공원도 <span class='green'>집앞에 있어 안심</span>입니다</p>
              <p>전철역도 쇼핑몰도 <span class='green'>집곁에 있어 편리</span>합니다</p>
            </div>
            <div class='section3-desc'>
              <div class='division-line'></div>
            </div>
            <div class='section3-desc'>
              <div class='size'>총 1,255세대 (84m<sup>2</sup>)</div>
            </div>
            <div class='section3-desc'>
              <div class='division-line'></div>
            </div>
            <div class='section3-desc'>
              <a href='tel:1533-7720' class='tel-link'><img src='{{ asset('dist/images/ic_round-phone.svg') }}' alt='' /> 1533-7720</a>
            </div>
          </div>
          <div class='col ani-03'>
            <img src='{{ asset('dist/images/map-img.svg') }}' alt='' class='map' />
            <img src='{{ asset('dist/images/mobile-map.svg') }}' alt='' class='mobile-map' />
            <div class='map-col'>
              <div class='naver-map-link model-house'>
                <div class='desc'>
                  <div class='map-title'>운정역더써밋 주택홍보관</div>
                  <div class='map-address'>파주시 와동동 1520번지</div>
                </div>
                <a href='https://naver.me/FK5G0z0J' class='naver' target='_blank'>
                  <img src='{{ asset('dist/images/ic_naver.png') }}' alt='' class='ic-naver' />
                  네이버 지도보기
                </a>
              </div>

              <div class='naver-map-link apartment'>
                <div class='desc'>
                  <div class='map-title'>운정역더써밋 현장</div>
                  <div class='map-address'>파주시 야당동 38-3번지 일원</div>
                </div>
                <a href='https://naver.me/xTTysdAI' class='naver' target='_blank'>
                  <img src='{{ asset('dist/images/ic_naver.png') }}' alt='' class='ic-naver' />
                  네이버 지도보기
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='section fp-auto-height'>
       {% include 'footer.twig' %}
    </div>
  </div>

  <script>
    $(document).ready(function () {
      let currentSlide = 1;
  
      // AOS.init();
      // 헤더
      $('.gnb-menu').mouseenter(function () {
        console.log(`currentSlide: ${currentSlide}`);
        $('header').addClass('active');
        if (currentSlide === 1) {
          $('header').removeClass('transparent');
        }
      });
      $('.gnb-menu').mouseleave(function () {
        console.log('mouseleave');
        $('header').removeClass('active');
        if (currentSlide === 1) {
          $('header').addClass('transparent');
        }
      });
  
      $('#fullpage').fullpage({
        autoScrolling: true,
        scrollBar: false,
        scrollOverflow: true,
        responsiveWidth: 1200,
        easing: 'easeInOutCubic',
        // easingcss3: 'ease',
        scrollingSpeed: 800,
  
        afterRender: function () {
          $.fn.fullpage.setAllowScrolling(false, 'down');
        },
        onLeave: function (origin, destination, direction, trigger) {
          // console.log('onLeave - origin:' + origin + ' destination:' + destination + ' direction:' + direction + '  trigger:' + trigger);
          if (destination === 1) {
            swiper.enable();
            $('header').addClass('transparent');
            currentSlide = 1;
          }
          if (destination === 2) {
            // console.log('destination 2');
            $('header').removeClass('transparent');
            currentSlide = 2;
          }
          if (destination === 3) {
            // console.log('destination 3');
            $('header').removeClass('transparent');
            currentSlide = 3;
          }
        },
      });
  
      // swiper
      const swiper = new Swiper('.swiper', {
        // Optional parameters
        loop: false,
        autoplay: {
          delay: 5000,
        },
        // If we need pagination
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
  
        // Navigation arrows
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
  
        // And if we need scrollbar
        scrollbar: {
          el: '.swiper-scrollbar',
        },
        mousewheel: {
          invert: false,
        },
        on: {
          reachEnd: function () {
            // Re-enable fullPage scrolling after the last Swiper slide
            setTimeout(() => {
              $.fn.fullpage.setAllowScrolling(true);
              // swiper.disable();
            }, 0); // Adjust the timeout as needed
          },
          slideChange: function () {
            if (swiper.activeIndex === 1) {
              $.fn.fullpage.setAllowScrolling(false);
              console.log('swiper.activeIndex === 1');
            }
          },
          activeIndexChange: function () {
            console.log('Active index changed to: ', this.activeIndex);
            if (this.activeIndex === 1) {
              $('#section1Desc').addClass('white');
            } else {
              $('#section1Desc').removeClass('white');
            }
          },
        },
      });
    });
  </script>
{% endblock %}