{% set _currentPage = request.queryparams['page'] ? : 1%}
{% set _currentPath = request.uri.path %}
{% set _currentParams = request.queryparams %}
{% set _blockStart = lists.blockStart %}
{% set _blockEnd = lists.blockEnd %}
{% set _lastPage = lists.lastPage %}

<div class="paging">
    <div class="inbox">
        <div class="move prev {{ _currentPage <= 1 ?: ' moveUrl' }}" data-url="{{page_link(_currentPath, _currentParams|merge({page: _currentPage - 1}))}}"><i class="fa-solid fa-angle-left"></i></div>
        <div class="page">
            {% if _lastPage > 0 %}
                {% for i in _blockStart.._blockEnd %}
                    <ul class="{{ i == _currentPage ?  'on'  : 'moveUrl' }}" data-url="{{page_link(_currentPath, _currentParams|merge({page: i}))}}"><div>{{ i }}</div></ul>
                {% endfor %}
            {%else%}
                <dt class="on" ><div>1</div></dt>
            {% endif %}
        </div>
        <div class="move next {{ _currentPage >= _lastPage ?: ' moveUrl' }}" data-url="{{page_link(_currentPath, _currentParams|merge({page: _currentPage + 1}))}}"><i class="fa-solid fa-angle-right"></i></div>
    </div>
</div>