<div class="tab-container tab-container-grid">
    <div class="tab {{ _currentPath == '/menu4/interior' ? 'active' : '' }}"><a href="/menu4/interior">Living Room</a></div>
    <div class="tab {{ _currentPath == '/menu4/interior_bed' ? 'active' : '' }}"><a href="/menu4/interior_bed">Bed Room</a></div>
    <div class="tab {{ _currentPath == '/menu4/interior_dining' ? 'active' : '' }}"><a href="/menu4/interior_dining">Dining Room</a></div>
    <div class="tab {{ _currentPath == '/menu4/interior_bath' ? 'active' : '' }}"><a href="/menu4/interior_bath">Bath Room</a></div>
    <div class="tab {{ _currentPath == '/menu4/interior_etc' ? 'active' : '' }}"><a href="/menu4/interior_etc">Etc.</a></div>
</div>
