<div class="tab-container tab-container-grid">
    <div class="tab {{ _currentPath == '/views/menu4/interior' ? 'active' : '' }}"><a href="/views/menu4/interior">Living Room</a></div>
    <div class="tab {{ _currentPath == '/views/menu4/interior-bed' ? 'active' : '' }}"><a href="/views/menu4/interior-bed">Bed Room</a></div>
    <div class="tab {{ _currentPath == '/views/menu4/interior-dining' ? 'active' : '' }}"><a href="/views/menu4/interior-dining">Dining Room</a></div>
    <div class="tab {{ _currentPath == '/views/menu4/interior-bath' ? 'active' : '' }}"><a href="/views/menu4/interior-bath">Bath Room</a></div>
    <div class="tab {{ _currentPath == '/views/menu4/interior-etc' ? 'active' : '' }}"><a href="/views/menu4/interior-etc">Etc.</a></div>
</div>
