{% extends "layout.twig" %}
{% block content %}
    {% include "menu1/top_menu.twig" %}

    {% include "menu1/pc_page_nav.twig" %}


    {% block mobile_sub_menu %}
        {% embed 'mobile_sub_menu.twig' %}
            {% block sub_menu %}
                <div class='sub-menu-container'>
                    <button class='sub-menu-btn' id='subMenuBtn'>조감도/투시도 <img src='{{ asset('dist/images/ic_carat_down.svg') }}' alt='' /></button>
                    {% include "menu1/mo_sub_menu.twig" %}
                </div>
            {% endblock %}
        {% endembed %}
    {% endblock %}



    <div class="page-nav-mobile-container">
        <div class="page-nav-mobile">
            조감도/투시도
        </div>
    </div>

    <div class="page-content-container">
        <div class="page-title-container" data-aos="fade-up">
            <p>
                <span class="green">건강한 생활과 여유로운 휴식</span>으로 <br> 매일이 더욱 즐거워집니다
            </p>
            <h1>집 앞에서 다 누리는</h1>
            <h1>
                앞세권 아파트
            </h1>
        </div>

        <div class="air_view" data-aos="fade-up">
            <div class="line"></div>
            <img class="v1 on" src="{{ asset('dist/images/arch-img1.png') }}" alt="">
            <img class="v2" src="{{ asset('dist/images/arch-section1-slide2.png') }}" alt="">
            <img class="v3" src="{{ asset('dist/images/arch-img3.png') }}" alt="">
        </div>
        <ul class="thumbnails" data-aos="fade-up">

            <li data-id="v1" class="on"><img src="{{ asset('dist/images/arch-img1.png') }}" alt=""></li>
            <li data-id="v2"><img src="{{ asset('dist/images/arch-section1-slide2.png') }}" alt="" ></li>
            <li data-id="v3"><img src="{{ asset('dist/images/arch-img3.png') }}" alt=""></li>
        </ul>

        <div class="division-line-subpage" data-aos="fade-up"></div>

        <ul class="notice-info" data-aos="fade-up">
            <li>상기 조감도/투시도는 소비자의 이해를 돕기 위한 것으로 실제와 다를 수 있습니다.</li>
        </ul>
    </div>
    <!-- page content -->

    {% include 'footer.twig' %}

    <script>

        $(function () {

            $(document).on("mouseover", ".thumbnails li", function () {
                let id = $(this).attr("data-id");
                $(".air_btn ul").removeClass("on");
                $(".thumbnails li").removeClass("on");
                $(this).addClass("on");
                $(".air_view img").removeClass("on");
                $(".air_view ." + id).addClass("on");
                // console.log(id);
            })

        })

    </script>
{% endblock %}

