{% extends "layout.twig" %}
{% block content %}

  <!-- page content -->
	<div class="top-visual-container">
		<div class="top-visual menu1">
			<h1>운정역더써밋</h1>
			<h2>UNJEONGYEOK THE SUMMIT</h2>
		</div>
	</div>


	{% include "menu1/pc_page_nav.twig" %}

	{% block mobile_sub_menu %}
		{% embed 'mobile_sub_menu.twig' %}
			{% block sub_menu %}
				<div class='sub-menu-container'>
					<button class='sub-menu-btn' id='subMenuBtn'>오시는길 <img src='{{ asset('dist/images/ic_carat_down.svg') }}' alt='' /></button>
					{% include "menu1/mo_sub_menu.twig" %}
				</div>
			{% endblock %}
		{% endembed %}
	{% endblock %}


	<div class="page-nav-mobile-container">
		<div class="page-nav-mobile">
			오시는길
		</div>
	</div>

	<div class="page-content-container">
		<div class="page-title-container" data-aos="fade-up">
			<p>
				전철역에서 학교, 공원, 쇼핑몰까지 <br> <span class="green">모두 앞에 두고 삽니다.</span>
			</p>
			<h1>앞으로 다 있다!</h1>
			<h1>앞으로 더 좋다!</h1>
		</div>

		<div class="map-subpage-container">
			<div class="map-subpage" data-aos="fade-up" data-aos-delay="100">
				<img src="{{ asset('dist/images/map1-subpage.svg') }}" alt="" class="desktop-map">
				<img src="{{ asset('dist/images/mobile-map.svg') }}" alt="" class="mobile-map">
				<div class="right">
					<a href="https://naver.me/513uuo6B" class="naver-icon-link" target="_blank">
						<img src="{{ asset('dist/images/naver-subpage.png') }}" alt="">
						네이버 지도보기
					</a>
					<div class="address-container">
						<div class="name">운정역더써밋 주택홍보관</div>
						<div class="address">파주시 와동동 1520번지</div>
					</div>
				</div>
			</div>
			<div class="map-subpage" data-aos="fade-up" data-aos-delay="200">
				<img src="{{ asset('dist/images/map2-subpage.svg') }}" alt="" class="desktop-map">
				<img src="{{ asset('dist/images/map2-mobile-map.svg') }}" alt="" class="mobile-map">
				<div class="right">
					<a href="https://naver.me/xY4NNAqu" class="naver-icon-link" target="_blank">
						<img src="{{ asset('dist/images/naver-subpage.png') }}" alt="">
						네이버 지도보기
					</a>
					<div class="address-container">
						<div class="name">운정역더써밋 현장</div>
						<div class="address">파주시 야당동 38-3번지 일원</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  <!-- page content -->

    {% include 'footer.twig' %}

    <script>

        $(function () {

            $(document).on("mouseover", ".thumbnails li", function () {
                let id = $(this).attr("data-id");
                $(".air_btn ul").removeClass("on");
                $(".thumbnails li").removeClass("on");
                $(this).addClass("on");
                $(".air_view img").removeClass("on");
                $(".air_view ." + id).addClass("on");
                // console.log(id);
            })

        })

    </script>
{% endblock %}