{% extends "layout.twig" %}
{% block content %}
  {% include "menu3/top_menu.twig" %}

  {% include "menu3/pc_page_nav.twig" %}


  {% block mobile_sub_menu %}
      {% embed 'mobile_sub_menu.twig' %}
          {% block sub_menu %}
              <div class='sub-menu-container'>
                  <button class='sub-menu-btn' id='subMenuBtn'>조경+부분컷 <img src='{{ asset('dist/images/ic_carat_down.svg') }}' alt='' /></button>
                  {% include "menu3/mo_sub_menu.twig" %}
              </div>
          {% endblock %}
      {% endembed %}
  {% endblock %}


<div class="page-nav-mobile-container">
		<div class="page-nav-mobile">
			조경+부분컷
		</div>
	</div>

  <div class="page-content-container">
		<div class="page-title-container" data-aos="fade-up">
			<p>
				햇살 가득한 운정역더써밋에서 매일이 더욱 즐거워집니다.
			</p>
			<h1><span class="green">햇살</span>도 <span class="green">여유</span>도 가득합니다</h1>
		</div>

	  <div class="garden-grid">
		  <div class="garden-grid-item full" data-aos="fade-up">
			  <img class="left-border" src="{{ asset('dist/images/garden-img-1.png') }}" alt="">
			  <div class="item-name">숲속마당</div>
			  <div class="item-desc">바닥분수와 수경시설, 자연이 어우러진 휴게공간입니다.</div>
		  </div>
		  <div class="garden-grid-item" data-aos="fade-up">
			  <img class="left-border" src="{{ asset('dist/images/garden-img-2.png') }}" alt="">
			  <div class="item-name">포켓쉼터</div>
			  <div class="item-desc">다양한 조경과 청량감을 만끽할 수 있는 수경공간입니다.</div>
		  </div>
		  <div class="garden-grid-item" data-aos="fade-up">
			  <img class="right-border" src="{{ asset('dist/images/garden-img-3.png') }}" alt="">
			  <div class="item-name">빛정원</div>
			  <div class="item-desc">다양한 꽃을 감상하며 간단한 운동을 할 수 있는 공간입니다.</div>
		  </div>
		  <div class="garden-grid-item" data-aos="fade-up">
			  <img class="left-border" src="{{ asset('dist/images/garden-img-4.png') }}" alt="">
			  <div class="item-name">어린이 놀이터 2</div>
			  <div class="item-desc">아이들이 마음껏 뛰어놀 수 있는 체험형 놀이 공간입니다.</div>
		  </div>
		  <div class="garden-grid-item" data-aos="fade-up">
			  <img class="right-border" src="{{ asset('dist/images/garden-img-5.png') }}" alt="">
			  <div class="item-name">어린이 놀이터 3</div>
			  <div class="item-desc">아이들이 마음껏 뛰어놀 수 있는 체험형 놀이 공간입니다.</div>
		  </div>
	  </div>

	  <div class='division-line-subpage' data-aos='fade-up'></div>

    <ul class='notice-info' data-aos='fade-up'>
      <li>본 홈페이지에 사용된 CG 및 이미지, 문안 등은 소비자의 이해를 돕기 위해 제작된 것으로 실제와 차이가 있을 수 있으며, 건물의 색채 및 외관, 조경 식재 및 시설물, 주변 개발 계획등은 추후 인•허가, 심의 및 법규의 변경 등으로 인하여 실제 시공 시 변경될 수 있습니다.</li>
    </ul>
	</div>
  <!-- page content -->


    {% include "footer.twig" %}

{% endblock %}