<div class="page-nav-container">
    <ul class="page-nav">
        <li class="{{ _currentPath == '/menu3/complex' ? 'active' : '' }}"><a href="/menu3/complex">단지배치도</a></li>
        <li class="{{ _currentPath == '/menu3/units' ? 'active' : '' }}"><a href="/menu3/units">동호수배치표</a></li>
        <li class="{{ _currentPath == '/menu3/community' ? 'active' : '' }}"><a href="/menu3/community">커뮤니티</a></li>
        <li class="{{ _currentPath == '/menu3/garden' ? 'active' : '' }}"><a href="/menu3/garden">조경+부분컷</a></li>
        <li class="{{ _currentPath == '/menu3/system' ? 'active' : '' }}"><a href="/menu3/system">시스템</a></li>
    </ul>
</div>
