{% extends "layout.twig" %}
{% block content %}
  {% include "menu3/top_menu.twig" %}

  {% include "menu3/pc_page_nav.twig" %}


  {% block mobile_sub_menu %}
      {% embed 'mobile_sub_menu.twig' %}
          {% block sub_menu %}
              <div class='sub-menu-container'>
                  <button class='sub-menu-btn' id='subMenuBtn'>시스템 <img src='{{ asset('dist/images/ic_carat_down.svg') }}' alt='' /></button>
                  {% include "menu3/mo_sub_menu.twig" %}
              </div>
          {% endblock %}
      {% endembed %}
  {% endblock %}


<div class="page-nav-mobile-container">
		<div class="page-nav-mobile">
			시스템
		</div>
	</div>

  <div class="page-content-container">

      <ul class="system-list-container">
          <li class="blue">
              <div class="list-title">smart system</div>
              <div class="system-item">
                  <img src="{{ asset('dist/images/system-icon-1.svg') }}" alt="">
                  <div class="item-name">홈 네트워크 시스템</div>
                  <div class="item-desc">세대 조명, 냉난방, 환기 등 내외부에서 통제 가능</div>
              </div>
              <div class="system-item">
                  <img src="{{ asset('dist/images/system-icon-2.svg') }}" alt="">
                  <div class="item-name">스마트 생활 정보기</div>
                  <div class="item-desc">방문자 영상, 택배 및 주차위치 등 확인 가능</div>
              </div>
              <div class="system-item">
                  <img src="{{ asset('dist/images/system-icon-3.svg') }}" alt="">
                  <div class="item-name">원격 검침 시스템</div>
                  <div class="item-desc">전력, 가스, 수도 사용량 자동 검침 가능</div>
              </div>
          </li>
          <li class="purple">
              <div class="list-title">security system</div>
              <div class="system-item">
                  <img src="{{ asset('dist/images/system-icon-4.svg') }}" alt="">
                  <div class="item-name">첨단 CCTV 시스템</div>
                  <div class="item-desc">단지내 사각지대까지 설치하여 안전생활 보장</div>
              </div>
              <div class="system-item">
                  <img src="{{ asset('dist/images/system-icon-5.svg') }}" alt="">
                  <div class="item-name">비상호출 시스템</div>
                  <div class="item-desc">위급상황시 버튼이나 통화로 미연에 사고 방지</div>
              </div>
              <div class="system-item">
                  <img src="{{ asset('dist/images/system-icon-6.svg') }}" alt="">
                  <div class="item-name">디지털 도어락</div>
                  <div class="item-desc">비밀번호로 안전하고 편리하게 세대 출입 가능</div>
              </div>
          </li>
          <li class="green">
              <div class="list-title">green system</div>
              <div class="system-item">
                  <img src="{{ asset('dist/images/system-icon-7.svg') }}" alt="">
                  <div class="item-name">세대환기 시스템</div>
                  <div class="item-desc">오염된 실내공기와 미세먼지까지 배출</div>
              </div>
              <div class="system-item">
                  <img src="{{ asset('dist/images/system-icon-8.svg') }}" alt="">
                  <div class="item-name">친환경 마감자재</div>
                  <div class="item-desc">가구와 벽지, 바닥재 등 친환경 제품 시공</div>
              </div>
              <div class="system-item">
                  <img src="{{ asset('dist/images/system-icon-9.svg') }}" alt="">
                  <div class="item-name nowrap">실시간 에너지 모니터링 시스템</div>
                  <div class="item-desc">가스 및 전기 사용량 확인 및 조절 가능</div>
              </div>
          </li>
          <li class="gray">
              <div class="list-title">ecomony system</div>
              <div class="system-item">
                  <img src="{{ asset('dist/images/system-icon-10.svg') }}" alt="">
                  <div class="item-name">대기전력 차단장치</div>
                  <div class="item-desc">불필요한 전력차단으로 에너지 절감</div>
              </div>
              <div class="system-item">
                  <img src="{{ asset('dist/images/system-icon-11.svg') }}" alt="">
                  <div class="item-name">LED 경관조명</div>
                  <div class="item-desc">단지외관 경관조명에 LED 적용으로 관리비 절감</div>
              </div>
              <div class="system-item">
                  <img src="{{ asset('dist/images/system-icon-12.svg') }}" alt="">
                  <div class="item-name nowrap">실별 온도조절 시스템</div>
                  <div class="item-desc">각방 온도의 개별 제어로 난방비 절감</div>
              </div>
          </li>
      </ul>
  </div>
  <!-- page content -->


    {% include "footer.twig" %}

{% endblock %}