{% extends "layout.twig" %}
{% block content %}
  {% include "menu5/top_menu.twig" %}

  {% include "menu5/pc_page_nav.twig" %}


  {% block mobile_sub_menu %}
      {% embed 'mobile_sub_menu.twig' %}
          {% block sub_menu %}
              <div class='sub-menu-container'>
                  <button class='sub-menu-btn' id='subMenuBtn'>홍보동영상 <img src='{{ asset('dist/images/ic_carat_down.svg') }}' alt='' /></button>
                  {% include "menu5/mo_sub_menu.twig" %}
              </div>
          {% endblock %}
      {% endembed %}
  {% endblock %}

  <div class='page-nav-mobile-container'>
    <div class='page-nav-mobile'>홍보동영상</div>
  </div>

    <div class='page-content-container'>
        <div class="news-page-title" data-aos="fade-up">
            <img src="{{ asset('dist/images/ic_videos.svg') }}" alt="">
            운정역더써밋의 홍보동영상 입니다.
        </div>
        <div class="news-grid">
            <a href="" class="news-item" data-aos="fade-up">
                <img src="{{ asset('dist/images/thum.png') }}" alt="">
                <div class="item-title">
                    언론보도 제목 언론보도 제목 언론보도 제목 언론보도 제목 언론보도 제목 언론보도 제목
                </div>
                <div class="item-desc">
                    <div class="newspaper"></div>
                    <div class="date">2021-01-01</div>
                </div>
            </a>
            <a href="" class="news-item" data-aos="fade-up">
                <img src="{{ asset('dist/images/thum.png') }}" alt="">
                <div class="item-title">
                    언론보도 제목 언론보도 제목 언론보도 제목 언론보도 제목 언론보도 제목 언론보도 제목
                </div>
                <div class="item-desc">
                    <div class="newspaper"></div>
                    <div class="date">2021-01-01</div>
                </div>
            </a>
            <a href="" class="news-item" data-aos="fade-up">
                <img src="{{ asset('dist/images/thum.png') }}" alt="">
                <div class="item-title">
                    언론보도 제목 언론보도 제목 언론보도 제목 언론보도 제목 언론보도 제목 언론보도 제목
                </div>
                <div class="item-desc">
                    <div class="newspaper"></div>
                    <div class="date">2021-01-01</div>
                </div>
            </a>
        </div>
    </div>

  <!-- page content -->


    {% include "footer.twig" %}

{% endblock %}