{% extends "layout.twig" %}
{% block javascripts %}
  {{ parent() }}
  <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
{% endblock %}
{% block content %}
  {% include "menu7/top_menu.twig" %}

  {% block mobile_sub_menu %}
    {% embed 'mobile_sub_menu.twig' %}
      {% block sub_main_btn %}
        {% include "menu7/mo_sub_main_btn.twig" %}
      {% endblock %}
      {% block sub_menu %}
        <div class='sub-menu-container'>
          <button class='sub-menu-btn' id='subMenuBtn'>조합원전용 <img src='{{ asset('dist/images/ic_carat_down.svg') }}' alt='' /></button>
          {% include "menu7/mo_sub_menu.twig" %}
        </div>
      {% endblock %}
    {% endembed %}
  {% endblock %}

  <div class='page-nav-mobile-container'>
    <div class='page-nav-mobile'>회원가입</div>
  </div>

  <div class='page-content-container'>
    {% include "menu7/tab_page_login.twig" %}

    <form action=''>
      <div class='login-container large'>
        <img src="{{ asset('dist/images/business-logo.svg') }}" alt="써밋 로고" class="member-logo" />

        <div class='form-inner-container'>
          <div class='header'>
            <div class='title'>회원가입</div>
          </div>
          <div class='body'>
            <div class='inner-body'>
              <div class="form-group">
                <div class="input-container icon">
                  <img src="{{ asset('dist/images/ic_person.svg') }}" alt="" class="input-icon" />
                  <input name="userId" type="text" placeholder="아이디" />
                </div>
                <div class="input-container icon">
                  <img src="{{ asset('dist/images/ic_lock.svg') }}" alt="" class="input-icon" />
                  <input name="name" type="password" placeholder="비밀번호" />
                </div>
                <div class="input-container icon">
                  <img src="{{ asset('dist/images/ic_person.svg') }}" alt="" class="input-icon" />
                  <input name="name" type="text" placeholder="이름" />
                </div>
                <div class="input-container icon">
                  <img src="{{ asset('dist/images/ic_cal.svg') }}" alt="" class="input-icon" />
                  <input name="birthday" type="tel" placeholder="생년월일 8자리(숫자만)" />
                </div>
                <div class="input-container icon">
                  <img src="{{ asset('dist/images/ic_mobile_phone.svg') }}" alt="" class="input-icon" />
                  <input name="phone" type="tel" placeholder="휴대전화 번호(숫자만)" />
                </div>
                <div class="input-container icon">
                  <img src="{{ asset('dist/images/ic_map_pin.svg') }}" alt="" class="input-icon" />
                  <input name="addr" id="addr" type="text" placeholder="주소" disabled />
                  <div class="btn-secondary" onclick="sample6_execDaumPostcode()">우편번호검색</div>
                </div>
                <div class="input-container" style="margin-top: -8px;">
                  <input type="text" placeholder="상세주소" />
                </div>

                <!-- 인증요청시 아래 주석 해제 -->
                <div class='input-container icon'>
                  <img src="{{ asset('dist/images/ic_lock.svg') }}" alt="" class='input-icon' />
                  <input name="authNo" type='tel' placeholder='인증번호 6자리 입력' />
                </div>
                <div class="request-pin">재요청</div>
              </div>

              <div class='login-button-container'>
                <div class='btn-primary full'>인증요청</div>
                <div class='btn-primary full'>가입하기</dive>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- page content -->

  {% include "footer.twig" %}
  <script>
    function sample6_execDaumPostcode() {
      new daum.Postcode({
        oncomplete: function(data) {
          let addr = '';
          if (data.userSelectedType === 'R') {
            addr = data.roadAddress;
          } else {
            addr = data.jibunAddress;
          }

          document.getElementById("addr").value = addr;
        }
      }).open();
    }
  </script>
{% endblock %}