{% extends "layout.twig" %}
{% block content %}
	{% include "menu2/top_menu.twig" %}

	{% include "menu2/pc_page_nav.twig" %}


	{% block mobile_sub_menu %}
		{% embed 'mobile_sub_menu.twig' %}
			{% block sub_menu %}
				<div class='sub-menu-container'>
					<button class='sub-menu-btn' id='subMenuBtn'>입지소개 <img src='{{ asset('dist/images/ic_carat_down.svg') }}' alt='' /></button>
					{% include "menu1/mo_sub_menu.twig" %}
				</div>
			{% endblock %}
		{% endembed %}
	{% endblock %}


	<div class='page-nav-mobile-container'>
		<div class='page-nav-mobile'>입지소개</div>
	</div>

	<div class='page-content-container'>
		<div class='page-title-container' data-aos='fade-up'>
			<p>
				<span class='green'>전철역</span>에서 <span class='green'>학교, 공원, 쇼핑몰</span>까지 모두 앞에 두고 삽니다!
			</p>
			<h1>앞으로 착!착!착!</h1>
			<h1>
				좋은 것만 쌓인다 <span class='green'>운정역더써밋</span>
			</h1>
		</div>


		<div class="mapViewBox" data-aos='fade-up'>
			<div class="magnifier"></div>
			<img class="smallImg" src="{{ asset('dist/images/menu2-img1.png') }}" style="width:100%;" alt="">
		</div>

		<div class='intro-grid'>
			<div class='intro-item' data-aos='fade-up'>
				<img src='{{ asset('dist/images/menu2-img2.png') }}' alt='' />
				<div class='subtitle'>traffic</div>
				<div class='title'>
					<img src='{{ asset('dist/images/menu2-icon2.svg') }}' alt='' />
					집 앞에 스피드 교통
				</div>
				<ul class='intro-item-list'>
					<li>운정역 약 100m 도보거리 초역세권</li>
					<li>서울문산고속도로 통해 서울 20분대</li>
					<li>광역M버스로 서울역, 강남역 이동 용이</li>
				</ul>
			</div>
			<div class='intro-item' data-aos='fade-up'>
				<img src='{{ asset('dist/images/menu2-img3.png') }}' alt='' />
				<div class='subtitle'>nature</div>
				<div class='title'>
					<img src='{{ asset('dist/images/menu2-icon3.svg') }}' alt='' />
					코 앞에 쾌적한 자연
				</div>
				<ul class='intro-item-list'>
					<li>운정호수공원 인접 및 조망 가능(일부세대)</li>
					<li>운정체육공원, 파크골프장 이용 편리</li>
					<li>단지 앞 공원 조성으로 쾌적한 환경</li>
				</ul>
			</div>
			<div class='intro-item' data-aos='fade-up'>
				<img src='{{ asset('dist/images/menu2-img4.png') }}' alt='' />
				<div class='subtitle'>infra</div>
				<div class='title'>
					<img src='{{ asset('dist/images/menu2-icon4.svg') }}' alt='' />
					문 앞에 편리한 생활
				</div>
				<ul class='intro-item-list'>
					<li>초품아, 유품아로 안심통학 교육환경</li>
					<li>스타필드 빌리지 도보거리 이용 가능</li>
					<li>운정신도시 생활인프라 이용 편리</li>
				</ul>
			</div>
			<div class='intro-item' data-aos='fade-up'>
				<img src='{{ asset('dist/images/menu2-img5.png') }}' alt='' />
				<div class='subtitle'>value</div>
				<div class='title'>
					<img src='{{ asset('dist/images/menu2-icon5.svg') }}' alt='' />
					눈 앞에 눈부신 비전
				</div>
				<ul class='intro-item-list'>
					<li>GTX-A, 제2순환고속도로 개통 예정</li>
					<li>파주메디컬클러스터, 운정테크노밸리 조성 예정</li>
					<li>일산3호선 대화역~금릉역 연장 추진</li>
				</ul>
			</div>
		</div>

		<div class='division-line-subpage' data-aos='fade-up'></div>

		<ul class='notice-info' data-aos='fade-up'>
			<li>본 홈페이지에 사용된 이미지, 일러스트, 문안 등은 소비자의 이해를 돕기 위해 제작된 것으로 실제와 차이가 있을 수 있습니다.</li>
			<li>본 홈페이지는 제작 광정상 오탈자가 있을 수 있으므로 청약 및 계약 시 반드시 확인하시기 바랍니다.</li>
			<li>
				본 홈페이지의 지역 위치도, 교통도 일러스트는 소비자의 이해를 돕기 위해 포털사이트 지도를 참조하여 제작된 것으로 실제와 차이가 있을 수 있으며
				표기된 교통 계획 등 예정 계획은 관계 기관 및 사업주체 사정에 따라 일부 변경, 지연, 취소될 수 있습니다.
			</li>
		</ul>
	</div>
	<!-- page content -->

	{% include 'footer.twig' %}


	<script is:inline>
		$(function () {
			let nativeWidth = 0;
			let nativeHeight = 0;
			$('.mapViewBox').mousemove(function (e) {
				if (!nativeWidth && !nativeHeight) {
					let imgObject = new Image();
					imgObject.src = $('.smallImg').attr('src');
					nativeWidth = imgObject.width;
					nativeHeight = imgObject.height;
				} else {
					let magnifyOffset = $(this).offset();
					let mouseX = e.pageX - magnifyOffset.left;
					let mouseY = e.pageY - magnifyOffset.top;

					if (mouseX < $(this).width() && mouseY < $(this).height() && mouseX > 0 && mouseY > 0) {
						$('.magnifier').fadeIn(100);
					} else {
						$('.magnifier').fadeOut(100);
					}
					if ($('.magnifier').is(':visible')) {
						let smallImgX = Math.round((mouseX / $('.smallImg').width()) * nativeWidth - $('.magnifier').width() / 2) * -1;
						let smallImgY = Math.round((mouseY / $('.smallImg').height()) * nativeHeight - $('.magnifier').height() / 2) * -1;
						let bgp = smallImgX + 'px ' + smallImgY + 'px';

						let largeImgX = mouseX + 80;
						let largeImgY = mouseY + 700;

						$('.magnifier').css({ left: largeImgX, top: largeImgY, backgroundPosition: bgp });
					}
				}
			});
		});
	</script>
{% endblock %}