{% extends "layout.twig" %}
{% block navi %}
    <div class="navi">
        <i class="fa-solid fa-bars menuToggle"></i>관심고객목록
    </div>
    {% include 'logo.twig' %}
{% endblock %}
{% block content %}
    <div class="sort_box" >
        <form name="searchForm" id="searchForm" action="{{request.uri.path}}" method="get">
            <div class="sort">
                <ul>
                    <li>등록일</li>
                    <li>
                        <input name="startDate" type="date" value="{{request.queryparams['startDate']}}" /> ~
                        <input name="endDate" type="date" value="{{request.queryparams['endDate']}}" />
                    </li>
                    {% include 'defalut_date_term.twig' %}
                </ul>
                <ul>
                    <li>연령대</li>
                    <li>
                        <select name="age">
                            <option value="">전체</option>
                            {% for age in ageCases %}
                                <option value="{{ age.value }}" {{request.queryparams['age'] == age.value ? 'selected' : '' }}>{{ age.toString }}</option>
                            {% endfor %}
                        </select>
                    </li>
                </ul>
                <ul>
                    <li>성별</li>
                    <li>
                        <select name="gender">
                            <option value="">전체</option>
                            {% for gender in genderCases %}
                                <option value="{{ gender.value }}" {{request.queryparams['gender'] == gender.value ? 'selected' : '' }}>{{gender.toString}}</option>
                            {% endfor %}
                        </select>
                    </li>
                </ul>
                {% include 'sort_keyword.twig' %}
            </div>
            <div class="toggle">접기</div>
            <div class="sort_btn">검색하기</div>
        </form>
    </div>
    <div class="cbox mgt15">
        <div class="board_list">
            <div class="top">
                <div class="tit">목록<span>{{ lists.total | number_format }}개</span></div>
                <div class="rbox">
                    <div class="btn_box">

                    </div>
                    {% include 'defalut_page_size.twig' %}
                </div>
            </div>
            <div class="table_mo">
                <table class="table_list_01 w1500">
                    <tr class="header">
                        <td>NO</td>
                        <td>등록일</td>
                        <td>성명</td>
                        <td>연령대</td>
                        <td>성별</td>
                        <td>휴대전화</td>
                        <td>주소</td>
                    </tr>
                    <!--- 목록없음 --->
                    {% set listPageName = '' %}
                    {% include 'list_none.twig' %}
                    <!--- 목록없음 --->
                    {% for list in lists.items %}
                        <tr>
                            <td>{{ list_no(lists.total,lists.page,lists.limit,loop.index0) }}</td>
                            <td>{{ list.createdAt | date("Y-m-d H:i:s") }}</td>
                            <td>{{ list.name }}</td>
                            <td>{{ list.age.toString }}</td>
                            <td>{{ list.gender.toString }}</td>
                            <td>{{ list.phone }}</td>
                            <td>{{ list.addr }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <!--- 페이징 --->
            {% include 'paginator.twig' %}
            <!--- 페이징 --->
        </div>
    </div>
{% endblock %}