{% extends "layout.twig" %}
{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('login')}}
{% endblock %}
{% block content %}
  {% include "menu7/top_menu.twig" %}

  {% block mobile_sub_menu %}
    {% embed 'mobile_sub_menu.twig' %}
      {% block sub_main_btn %}
        {% include "menu7/mo_sub_main_btn.twig" %}
      {% endblock %}
      {% block sub_menu %}
        <div class='sub-menu-container'>
          <button class='sub-menu-btn' id='subMenuBtn'>조합원전용 <img src='{{ asset('dist/images/ic_carat_down.svg') }}' alt='' /></button>
          {% include "menu7/mo_sub_menu.twig" %}
        </div>
      {% endblock %}
    {% endembed %}
  {% endblock %}

  <div class='page-nav-mobile-container'>
    <div class='page-nav-mobile'>로그인</div>
  </div>

  <div class='page-content-container'>
    {% include "menu7/tab_page_login.twig" %}

    <form>
      <div class='login-container'>
        <img src="{{ asset('dist/images/business-logo.svg') }}" alt="써밋 로고" class="member-logo" />
        <div class="login-page-title">조합원 전용 페이지 입니다.</div>

        <div class="login-input-container large">
          <div class="input-container icon">
            <img src="{{ asset('dist/images/ic_person.svg') }}" alt="" class="input-icon" />
            <input name="userId" type="text" placeholder="아이디" class="id" />
          </div>
          <div class="input-container icon">
            <img src="{{ asset('dist/images/ic_lock.svg') }}" alt="" class="input-icon" />
            <input name="password" type="password" placeholder="비밀번호" class="pass" />
          </div>
        </div>


        <div class='login-button-container'>
          <div class='btn-primary full btn'>로그인</div>
        </div>

        <div class='login-sub-menu'>
          <a href='/menu7/passFind'>비밀번호 찾기</a>
          <span></span>
          <a href='/menu7/idFind'>아이디 찾기</a>
          <span></span>
          <a href='/menu8/signup_terms'>회원가입</a>
        </div>
      </div>
    </form>
  </div>
  <!-- page content -->


  {% include "footer.twig" %}

{% endblock %}